@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'VT323', monospace;

background:
linear-gradient(
180deg,
#0f3d91 0%,
#081f4d 45%,
#000000 100%
);

color:white;
min-height:100vh;
overflow-x:hidden;
}

/* estrelas */

body::before{
content:"";

position:fixed;
inset:0;

background-image:
radial-gradient(#ffffff 1px, transparent 1px),
radial-gradient(#7ee6ff 2px, transparent 2px);

background-size:
30px 30px,
80px 80px;

opacity:.35;
pointer-events:none;
}

.container{
width:1100px;
max-width:95%;
margin:auto;
padding:30px;
}

.name{

font-size:4rem;
text-align:center;

margin-bottom:20px;

color:white;

text-shadow:
0 0 10px #7ee6ff,
0 0 20px #7ee6ff,
0 0 40px #7ee6ff;
}

.layout{
display:grid;
grid-template-columns:380px 1fr;
gap:20px;
}

.box{

background:rgba(0,0,0,.9);

border:3px solid #4dc7ff;

box-shadow:
0 0 10px #4dc7ff,
inset 0 0 10px rgba(77,199,255,.2);

padding:15px;
}

.profile-box{
display:flex;
gap:15px;
}

.profile-pic{
width:180px;
height:180px;
object-fit:cover;

border:3px solid #4dc7ff;
}

.profile-info{
font-size:1.4rem;
}

.online{
display:block;
margin-top:15px;
color:#00ff55;
}

.mood-box{
margin-top:15px;
text-align:center;
font-size:1.5rem;
}

.interests{
margin-top:15px;
}

.interests h2{
margin-bottom:10px;
color:#c7f5ff;
}

.interests ul{
list-style:none;
margin-top:10px;
}

.interests li{
margin:6px 0;
}

.about h2{
margin-bottom:10px;
color:#c7f5ff;
}

.about h3{
margin-top:10px;
}

.favorites{
margin-top:20px;
}

.favorites h2{
margin-bottom:15px;
color:#c7f5ff;
}

.character-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

.char{
text-align:center;
}

.char img{
width:100%;
aspect-ratio:1;
object-fit:cover;

border:3px solid #4dc7ff;
}

.char span{
display:block;
margin-top:5px;
}

.box:hover{
box-shadow:
0 0 15px #4dc7ff,
0 0 30px #4dc7ff;
}

@media(max-width:900px){

.layout{
grid-template-columns:1fr;
}

.character-grid{
grid-template-columns:repeat(2,1fr);
}

}