@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'VT323', monospace;
    color:white;
    min-height:100vh;

    background:
    linear-gradient(
    180deg,
    #1142a8 0%,
    #081d4d 40%,
    #020b1f 100%
    );

    background-image:
    radial-gradient(#6fdcff 2px, transparent 2px),
    radial-gradient(#ffffff 1px, transparent 1px);

    background-size:60px 60px, 30px 30px;
}

.container{
    width:1200px;
    max-width:95%;
    margin:40px auto;
}

.title{
    text-align:center;
    margin-bottom:20px;
}

.title h1{
    font-size:4rem;
    color:white;

    text-shadow:
    0 0 10px #6fdcff,
    0 0 20px #6fdcff,
    0 0 40px #6fdcff;
}

.grid{
    display:grid;
    grid-template-columns:350px 1fr;
    gap:20px;
}

.box{
    background:rgba(0,15,45,.85);

    border:3px solid #6fdcff;

    box-shadow:
    0 0 15px #6fdcff,
    inset 0 0 15px rgba(111,220,255,.15);

    padding:15px;
}

.profile img{
    width:100%;
    border:3px solid #6fdcff;
}

.status{
    margin-top:15px;
}

.online{
    color:#00ff66;
    font-size:1.4rem;
}

.mood{
    margin-top:15px;
    padding:10px;
    border:2px solid #6fdcff;
}

.about{
    min-height:250px;
}

.about h2,
.interests h2,
.favorites h2{
    margin-bottom:15px;
    color:#d8f8ff;
}

.interests ul{
    list-style:none;
}

.interests li{
    margin:10px 0;
}

.favorites{
    grid-column:2;
}

.friend-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

.friend-grid img{
    width:100%;
    aspect-ratio:1;
    object-fit:cover;

    border:3px solid #6fdcff;

    transition:.3s;
}

.friend-grid img:hover{
    transform:scale(1.05);

    box-shadow:
    0 0 10px #6fdcff,
    0 0 20px #6fdcff;
}

h1,h2{
    letter-spacing:2px;
}

.box:hover{
    box-shadow:
    0 0 20px #6fdcff,
    0 0 40px rgba(111,220,255,.4),
    inset 0 0 15px rgba(111,220,255,.15);
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#05122c;
}

::-webkit-scrollbar-thumb{
    background:#6fdcff;
}

@media(max-width:800px){

    .grid{
        grid-template-columns:1fr;
    }

    .favorites{
        grid-column:auto;
    }

}
